.icon-menu {
	@include size(30px, 3px);
	background: #bbb;
	position: relative;


	&::before,
	&::after {
		@include size(100%);
		content: '';
		background: #bbb;
		position: absolute;
	}

	&::before {
		top: -9px;
	}

	&::after {
		bottom: -9px;
	}

	//font-size: 25px;
    float: right;
    margin-top: 15px;

	&.active {
		margin-right: 230px;
		background: none;

		&::before {
			transform: rotate(45deg);
			top: 0;
		}

		&::after {
			transform: rotate(-45deg);
			bottom: 0;
		}

		+ .menu {
			display: flex;
		}
	}
}

.menu {
	display: flex;
	justify-content: flex-end;
	flex-wrap: nowrap;

	@media (max-width: 768px) {
		@include pos(fixed, $r: 0, $t: 0);
		width: 230px;
		background: rgba(255, 255, 255, .95);
		flex-direction: column;
		display: none;
	}

	&__item {
		padding: 0 10px;
		line-height: 30px;

		@media (max-width: 768px) {
			padding: 0;
			border-bottom: 1px solid #ccc;
		}
	}

	&__link {
		@include font(14px, $fw: 500);
		color: darken($grey-dark, 4%);
		text-decoration: none;

		@media (max-width: 768px) {
			padding: 15px;
			display: block;
			font-size: 18px;
		}

		&--active,
		&:hover {
			color: $red;

			@media (max-width: 768px) {
				background: $red;
				color: #fff
			}
		}
	}
}
