$font-main: Poppins, sans-serif;
$font-title: 'Libre Baskerville', serif;
$screen-lg: 1170px;

// Colors
$red: #fc5f45;
$green: #38c695;
$violet: #b27cf5;
$orange: #feb960;
$grey: #616161;
$dark-grey: #313131;
