.about {
	padding: 150px 0;

	&__image {
		border: 10px solid #a2a2a2;
		width: 100%;
	}

	&__info {
		box-shadow: 0 0 20px 0 rgba(0, 0, 0, .05);
		background: #fff;
		margin-top: 75px;
		padding: 90px 13%;

		&-wrapper {
			margin-left: -8.333333%;
		}

		&.global-counter::before {
			top: 5px;
			left: -7px;
		}
	}
}
