.about {
	padding: 150px 0;

	&__image {
		width: 100%;
		display: block;

		&-block {
			padding: 10px;
			background: #a3a3a3;
			background: -moz-linear-gradient(top, #a3a3a3 0%, #ae8a83 100%);
			background: -webkit-linear-gradient(top, #a3a3a3 0%,#ae8a83 100%);
			background: linear-gradient(to bottom, #a3a3a3 0%,#ae8a83 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a3a3a3', endColorstr='#ae8a83',GradientType=0 );
		}
	}

	&__info {
		box-shadow: 0 0 20px 0 rgba(0, 0, 0, .05);
		background: #fff;
		margin-top: 75px;
		padding: 90px 13%;

		&-wrapper {
			margin-left: -8.333333%;
		}

		&.global-counter::before {
			top: 5px;
			left: -7px;
		}
	}
}
