.focus {
	background: #f7f7f7;

	&__list {
		margin-top: 80px;
	}

	&__item {
		background: #fff;
		box-shadow: $shadow;
		padding: 60px 12.5%;
		border-bottom: 3px solid;
		margin-bottom: 30px;

		@include colored-border(color);

		&-title {
			@include font(20px, $fw: 500);
			margin: 20px 0 30px;
			color: $grey-dark;
		}
	}

	&__icon {
		font-size: 48px;
	}
}
