.header {
	&__menu {
		@include pos(fixed, $l: 0, $t: 0, $z: 9);
		width: 100%;
		background: #fff;
		box-shadow: 0 0 24px 0 rgba(0, 0, 0, .25);
		padding: 20px 0;
	}

	&__info {
		padding: 225px 0 165px;
		background: #000 url('../images/bg/main-bg.jpg') no-repeat top center;
		background-size: cover;
		text-align: center;
	}

	&__title {
		font: 60px/85px $font-title;
		color: #fff;
		padding: 0 15% 40px;

		@media (max-width: 768px) {
			padding: 0 10% 40px;
		}
	}

	&__advantages {
		display: flex;
		justify-content: space-between;
		margin-top: 80px;
	}

	&__advantage {
		&-item {
			@include colored-border(color);
		}

		&-icon {
			font-size: 40px;
		}

		&-text {
			@include font(18px, $fw: 500);
			text-transform: uppercase;
			margin-top: 35px;
		}
	}
}
